<header>
    <h2>Modifier une session de formation</h2>
    </header>
    <form #sessionItemForm="ngForm"
    (ngSubmit)="editSession(sessionItemForm)">
    <ul>
    <li>
    <label for="name">Name</label>
    <select name="name" id="name"  [(ngModel)]="session.name"required>
    <option value="Web">Web</option>
    <option value="Mobile">Mobile</option>
    </select>
    </li>
    <li>
    <label for="track">Track</label>
    <select id="track" required
     name="track"  [(ngModel)]="session.track">
    <option *ngFor="let track of tracks"
    [value]="track">{{track}}</option>
    </select>
    </li>
    <i>
    <label for="date">Date</label>
    <input type="date" name="date" id="date" [(ngModel)]="session.date" required>
    <label for="duree">Days</label>
    <input type="number" name="duree" id="date" [(ngModel)]="session.duree" required>
    </i>
    <i>
    <label for="adress">Adress</label>
    <input type="text" name="adress" id="adress" [(ngModel)]="session.adress" required>  {{session.adress}}
    </i>
    <i>
    <label for="participants">Participants</label>
    <input type="number" name="participants"
    id="participants" required [(ngModel)]="session.participants">
    </i>
    </ul>
    <button type="submit"> Modifier</button>
    </form>
